@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About us:";
}

<h3>@ViewData["Title"].</h3>

<p class="text-center">
    Khumalocraft was a dream had by Mr James Khumalo,the owner of KhumaloCraft, Mr Khumalos dream envisioned a platform accessible to a global audience, scalable
    to accommodate growth and ensuring a secure and employable shopping experience for customers. KhumaloCraft Emporium is set to be one of the best e-commerce platforms to
    showcase handcrfted products, connecting artisians worldwide so they can share their love of the art.
</p>
