@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary" font color="blue">Welcome To KhumaloCraft</h1>
    
</div>

<div class="text-center ">
        <img src="/images/Logo.png" class="img-fluid" size="larger" width="700" alt="logo" />
 
        
</div>


