@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Work";
}

<h2>@ViewData["Title"].</h2>

<div class="card" style="width: 18rem;">
    
    <img src="/images/eagle.jpg" class="card-img-top" alt="eagle">
    <div class="card-body">
        <h5 class="card-title">Eagle</h5>
        <h5 class="card-title">R750</h5>
        <p class="card-text">Wooden sea eagle crafted with limewood </p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div  class="card" style="width: 18rem;">
    <img src="/images/elephant.jpg" class="card-img-top" alt="elephant" align="right">
    <div class="card-body">
        <h5 class="card-title">Elephant</h5>
        <h5 class="card-title">R475</h5>
        <p class="card-text">Decorative elephant crafted with Mahogany wood.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
    <div align="left" class="card" style="width: 18rem;">
        <img src="/images/Rhino.png" class="card-img-top" alt="Rhino">
        <div class="card-body">
            <h5 class="card-title">Rhino</h5>
            <h5 class="card-title">R650</h5>
            <p class="card-text">Black javan rhinoceros crafted with cherry wood.</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/Retro Treasure Chest.png" class="card-img-top" alt="Retro Treasure Chest">
    <div class="card-body">
        <h5 class="card-title">Retro Treasure Chest</h5>
        <h5 class="card-title">R1 200</h5>
        <p class="card-text">Wooden Retro Treasure Chest, multi storage unit, Set of 2.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/Horse.png" class="card-img-top" alt="Horse">
    <div class="card-body">
        <h5 class="card-title">Wooden Horse</h5>
        <h5 class="card-title">R975</h5>
        <p class="card-text"> A galloping Mustang horse crafted with pine wood.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/Functional Coaster Set .png" class="card-img-top" alt="Coaster">
    <div class="card-body">
        <h5 class="card-title">Functional Coaster Set</h5>
        <h5 class="card-title">R275</h5>
        <p class="card-text">Wooden Bullock Cart Shaped Decorative & Functional Coaster Set – 6 Coasters +1 Holder.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/Camels.png" class="card-img-top" alt="Camel">
    <div class="card-body">
        <h5 class="card-title">Wooden Camels </h5>
        <h5 class="card-title">R400</h5>
        <p class="card-text"> A pair of two dromedary camels crafted with Larch wood.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/3 step box.png" class="card-img-top" alt="box">
    <div class="card-body">
        <h5 class="card-title">Three Step Box</h5>
        <h5 class="card-title">R995</h5>
        <p class="card-text">Antique 3 step box for jewellery .</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/ashtray.png" class="card-img-top" alt="ashtray">
    <div class="card-body">
        <h5 class="card-title">Ashtray</h5>
        <h5 class="card-title">R195</h5>
        <p class="card-text">Square wooden Ashtray with Brass top and Jaali work on the sides.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>
<p></p>
<div class="card" style="width: 18rem;">
    <img src="/images/buddha statue.png" class="card-img-top" alt="buddha">
    <div class="card-body">
        <h5 class="card-title">Statue of Buddha</h5>
        <h5 class="card-title">R975</h5>
        <p class="card-text">Kadam wood crafted Resting Buddha statue, 6 inches in height.</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div> 
</div>
