html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:aquamarine;

}

products{
    string eagle;
}

@if $font-size-root != null {
    --# {
        $prefix
    }

    root-font-size: # {
        $font-size-root
    }

    ;
}

--# {
    $prefix
}

body-font-family: # {
    inspect($font-family-base)
}

;
@include rfs($font-size-base, --#{$prefix}body-font-size);
--# {
    $prefix
}

body-font-weight: # {
    $font-weight-base
}

;
--# {
    $prefix
}

body-line-height: # {
    $line-height-base
}

;
@if $body-text-align != null {
    --#

{
    $prefix
}

body-text-align: # {
    $body-text-align
}

;
}

--# {
    $prefix
}

body-color: # {
    $body-color
}

;
--# {
    $prefix
}

body-color-rgb: # {
    to-rgb($body-color)
}

;
--# {
    $prefix
}

body-bg: # {
    $body-bg
}

;
--# {
    $prefix
}

body-bg-rgb: # {
    to-rgb($body-bg)
}

;

--# {
    $prefix
}

emphasis-color: # {
    $body-emphasis-color
}

;
--# {
    $prefix
}

emphasis-color-rgb: # {
    to-rgb($body-emphasis-color)
}

;

--# {
    $prefix
}

secondary-color: # {
    $body-secondary-color
}

;
--# {
    $prefix
}

secondary-color-rgb: # {
    to-rgb($body-secondary-color)
}

;
--# {
    $prefix
}

secondary-bg: # {
    $body-secondary-bg
}

;
--# {
    $prefix
}

secondary-bg-rgb: # {
    to-rgb($body-secondary-bg)
}

;

--# {
    $prefix
}

tertiary-color: # {
    $body-tertiary-color
}

;
--# {
    $prefix
}

tertiary-color-rgb: # {
    to-rgb($body-tertiary-color)
}

;
--# {
    $prefix
}

tertiary-bg: # {
    $body-tertiary-bg
}

;
--# {
    $prefix
}

tertiary-bg-rgb: # {
    to-rgb($body-tertiary-bg)
}

;

body {
    margin: 0;
    // 1 font-family: var(--#{$prefix}body-font-family);
    @include font-size(var(--#{$prefix}body-font-size));
    font-weight: var(--#{$prefix}body-font-weight);
    line-height: var(--#{$prefix}body-line-height);
    color: var(--#{$prefix}body-color);
    text-align: var(--#{$prefix}body-text-align);
    background-color: var(--#{$prefix}body-bg);
    // 2 -webkit-text-size-adjust: 100%;
    // 3 -webkit-tap-highlight-color: rgba($black, 0);
    // 4
}